/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: 'Lato', sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.pageformatting {
  width: 100%;
  font-size: 62.5%;
}
.border {
  border: 0.1rem solid black;
}
.big-header {
  font-size: 2rem;
  color: navy;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.1rem;
  font-weight: bold;
}
p {
  font-size: 1rem;
}
.button {
  height: 2.5rem;
  width: 11rem;
  border-radius: 6px;
  font-size: 1rem;
  background-color: lightblue;
  transition-duration: 0.4s;
  cursor: pointer;
}
.home-container {
  width: 100%;
  font-size: 62.5%;
}
header {
  display: flex;
  justify-content: flex-end;
  height: 5rem;
  width: 100%;
  font-size: 1rem;
  background-color: lightblue;
  padding: 0 1.5rem;
}
header nav {
  display: flex;
  align-items: center;
  margin: 0.3rem;
}
header nav a {
  padding: 1rem;
  font-size: 1rem;
  color: #000000;
  text-decoration: none;
}
header nav img {
  height: 2rem;
  width: auto;
}
.home-top-content {
  margin: 1.5rem 3rem 1.5rem;
  padding: 2rem;
  background-color: #e9e9e9;
}
.home-top-content .profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-top-content .profile-header h1 {
  text-align: center;
  width: 100%;
  align-items: center;
  font-size: 5rem;
  line-height: 6.2rem;
  color: #494949;
  padding: 2rem;
}
.home-top-content .Name {
  padding: 0.8rem 0;
}
.home-top-content .Dig {
  font-style: oblique;
}
.home-top-content .top-description {
  border-top: 1px solid #b8b8b8;
  margin-top: 1rem;
  padding: 1rem 0;
  font-size: 1rem;
}
.home-top-content button {
  height: 2.5rem;
  width: 11rem;
  border-radius: 6px;
  font-size: 1rem;
  background-color: lightblue;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-right: 1rem;
}
.home-top-content button:hover {
  background-color: #8c96f3;
  color: white;
}
.home-middle-content {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 3rem 3rem;
}
.home-middle-content .philosophy {
  width: 47%;
  padding: 0.5rem 0;
}
.home-middle-content .philosophy p {
  padding: 1rem 0 0;
  font-size: 1rem;
  line-height: 1.5rem;
}
.home-middle-content .skills-table {
  width: 47%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.home-middle-content .skills-table h3 {
  padding-bottom: 0.4rem;
}
.home-middle-content .skills-table ul {
  border: 0.05rem solid black;
  border-bottom: 0;
}
.home-middle-content .skills-table li {
  padding: 1rem;
  font-size: 1rem;
  border-bottom: 0.05rem solid black;
}
.work-history {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.5rem 3rem 3rem;
}
.work-history table {
  margin: 1rem 0;
  font-size: 0.8rem;
  border-collapse: collapse;
  width: 100%;
}
.work-history table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.work-history table th {
  border: 1px solid #dddddd;
  text-align: center;
  font-size: 1rem;
  padding: 8px;
}
.work-history table tr:nth-child(even) {
  background-color: #dddddd;
}
.footer-contact-me {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  width: 100%;
  height: auto;
  background-color: lightblue;
}
.footer-contact-me h4 {
  padding: 0 0 1rem;
  text-decoration: underline;
}
.footer-contact-me p {
  padding: 0.2rem 0;
}
